<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aoji.mapper.SysRoleMapper">
  <resultMap id="BaseResultMap" type="com.aoji.model.SysRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="deleted" jdbcType="TIMESTAMP" property="deleted" />
    <result column="delete_status" jdbcType="BIT" property="deleteStatus" />
  </resultMap>
</mapper>